{% extends 'admin/layout.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
{% for user in users %}
    <p>{{ user.email }}</p>
    <p>{{ user.avatar }}</p>
    {% for group in user.groups %}
        <p>{{group.name}}</p>
    {% endfor %}
{% endfor %}

{% endblock %}