{% extends 'admin_base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Admin Dashboard</h1>
    <p>Here you can consult key metrics and statistics.</p>
{% endblock %}

